" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

"OSのクリップボードをレジスタ指定無しで Yank, Put 出来るようにする
set clipboard=unnamed,unnamedplus

" smart line joining with J
set ideajoin

" 検索の改善
set incsearch
set ignorecase
set smartcase
set hlsearch

" 音を出さない
set visualbell
set noerrorbells

" スクロール時のオフセット
set scrolloff=10

" NERDTreeのキーバインドを有効にする
" https://github.com/JetBrains/ideavim/blob/master/doc/NERDTree-support.md
set NERDTree

" ヤンクしたときにハイライト
set highlightedyank

" 基本のキーバインドを自然にする
noremap Y y$
noremap H ^
noremap L $

"vvで行末まで選択
vnoremap v ^$h

" xでデフォルトレジスタに入れない
nnoremap x "_x
vnoremap x "_x

"インサートモードで bash 風キーマップ
inoremap <C-a> <C-o>^
inoremap <C-e> <C-o>$<Right>
inoremap <C-b> <Left>
inoremap <C-f> <Right>
inoremap <C-n> <Down>
inoremap <C-p> <Up>
inoremap <C-h> <BS>
inoremap <C-d> <Del>
inoremap <C-k> <C-o>D<Right>
inoremap <C-u> <C-o>d^
inoremap <C-w> <C-o>db

" ESCを代替
inoremap jk <ESC>

" ESC ESC でハイライトを消す
noremap <Esc><Esc> :nohlsearch<CR><ESC>

" 戻る進むはIntelliJのアクションを使うj
nnoremap <C-o> :<C-u>action Back<CR>
nnoremap <C-i> :<C-u>action Forward<CR>

" Gitの変更箇所にジャンプ
nmap [c <Action>(VcsShowPrevChangeMarker)
nmap ]c <Action>(VcsShowNextChangeMarker)

" leader key
let mapleader = ','

" .ideavimrc を開く
noremap <leader>cc :edit ~/.ideavimrc<cr>
" .ideavimrc をリロード
noremap <leader>cs :source ~/.ideavimrc<cr>:nohlsearch<cr>

" <leader>g はGit関連の操作
nnoremap <leader>gl :action Vcs.Show.Log<CR>
vnoremap <leader>gl :action Vcs.Show.Log<CR>
